.documents {
    height: 330px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;
    position: relative;
    transition: 0.5s;
    padding-bottom: 70px;
    .container {
        height: 300px;
        overflow-y: hidden;
        max-width: 1500px;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 50px;
        padding: 30px;
        .article {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 25px;
        }
        .toggleButton {
            position: absolute;
            bottom: 20px;
            font-size: 26px;
            color: #1064E5;
            font-weight: 600;
        }
    }
    &.show {
        min-height: 950px;
        height: auto;
        .container {
            min-height: 950px;
            height: auto;
        }
    }
}