.text_area {
    width: 400px;
    height: 138px;
    padding: 12px;
    border-radius: 18px;
    border: 1px #1064E5 solid;
    outline: none;
    @media screen and (max-width: 480px) {
        width: 300px;
        .input {
          width: 300px;
        } 
    }
    @media screen and (max-width: 320px) {
        width: 250px;
        .input {
          height: 40px;
          width: 250px;
          padding: 10px;
          border-radius: 37px;
          border: 1px #1064E5 solid;
          outline: none;
        } 
      }
}